:host *{
    transition: all 200ms ease-in-out;
}

.sidenav-header {
    padding-top: 15px;
    text-align: center;

    >img {
        border-radius: 1%;
        object-fit: cover;
        margin-bottom: 8px;
    }
}

.header-text {
    > h2 {
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin: 0;
    }
    > p {
        margin: 0;
        font-size: 0.8rem;
    }
}